<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ site.baseurl }}" class="navbar-brand">{{ site.title }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
              {% if node.title != null %}
                {% if node.layout == "page" %}
                  <li{% if page.url == node.url %} class="active"{% endif %}>
                    <a href="{{ node.url }}">{{ node.title }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}        
          </ul>
        </div>
      </div>
</div>